* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}

body {
  width: 100%;
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: auto;
}

.cell-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.cell-pic img {
  width: 19rem;
}

.actions {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 2rem;
  margin: 1em;
  min-width: 350px;
  max-width: 450px;
}

.connect {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10%;
}

#insta-logo {
  display: flex;
  padding: 5%;
}
.connect .profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.connect .profile-pic img {
  border: 1px solid #cccccc;
  width: 8rem;
  border-radius: 50%;
}

.connect .login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}

.connect .login p {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fcfcfc;
  text-align: center;
  padding: 10px;
  margin: 10px 0 5px 0;
  border: 1px solid #cccccc;
}

.connect .login a {
  display: flex;
  justify-content: center;
  border: 1px solid #0267ff;
  background-color: #0267ff;
  color: #ffffff;
  width: 150px;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}

.signup {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  margin: 20px auto;
  padding: 20px 0;
}

.signup a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0267ff;
  background-color: #0267ff;
  color: #ffffff;
  margin: 5px 0;
  width: 100px;
  padding: 5px;
  border-radius: 20px;
}
.get-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.get-app p {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 10px;
}

.get-app .download {
  display: flex;
  justify-content: center;
}

.get-app .download a {
  display: flex;
  justify-content: space-around;
}

.get-app .download a img {
  width: 8rem;
}

@media (max-width: 650px) {
  body {
    background-color: #ffffff;
  }
  
  .flex-container{
    width: 100%;
  }
  
  .actions {
    width: 60%;
  }

  .connect{
    border-color: #ffffff;
  }

  .signup {
    border-color: #ffffff;
  }

  .cell-pic{
    display: none;
  }
}
