body {
  background-color: hsl(190, 67%, 48%);
  background-image: url(https://images.unsplash.com/photo-1542903660-eedba2cda473?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHByb2dyYW1taW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  display: flex;
  flex-flow: row wrap;
}

header {
  width: 100%;
}

.topHeader h1 {
  color: #000000;
  text-shadow: #ffffff 0px 0px 10px;
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
}

.profile-pic {
  width: 100%;
  margin: 0 auto 30px; 
}

.profile-pic img {
  height: 200px;
  border-radius: 100%;
  display: block;
  margin: auto;
}

article {
  background-color: hsl(0, 0%, 32%);
  border-color: #000000;
  border-width: 2px;
  border-style: groove;
  border-radius: 15px;
  font-size: 20px;
  padding: 10px;
  width: 60%;
  margin: 0 auto auto;
}

.curriculum h3 {
  color: rgb(255, 0, 0);
  padding-left: 10px;
  color: #26a905;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  text-shadow: #000000 0px 0px 5px;
}

article li {
  color: #26ae00;
}

article ul {
  list-style-type: square;
}

.updates {
  border: 2px solid rgb(0, 0, 0);
  color: #000000;
  border-radius: 15px;
  height: auto;
  padding: 10px;
  background-color: rgb(1, 85, 159);
  width: 20%;
  margin: 0 auto auto;
}

.updates h3 {
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-shadow: #ffffff 0px 0px 5px;
}

.updates h4 {
  text-align: center;
}

.updates p {
  text-overflow: clip;
}

section {
  width: 100%;
}

footer a {
  color: #eeff00;
  text-decoration: none;
  text-shadow: #000000 0px 0px 10px;
  font-size: larger;
}
